{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>{% block title %} Заголовок страницы {% endblock%}</title>
</head>
<body>
    <div class="main-content">
        <nav class="menu">
            <div class="group">
                <img class="logo" src="{% static 'image/logo.png' %}" alt="Логотип">
                <div class="group1">
                    <a href="{% url 'core:news' %}">Главная</a>
                    <a href="{% url 'edu:list_tests' %}">Список готовых тестов</a>
                    <a href="{% url 'edu:list_tasks' %}">Каталог заданий</a>
                </div>
            </div>
            <div class="group">
                {% if request.user.is_authenticated %}
                    <p><a href="{% url 'users:profile' slug=request.user.username %}">{{ request.user.first_name }}</a>  | <a href="{% url 'users:logout' %}">выйти</a></p>
                {% else %}
                    <p><a href="{% url 'users:register' %}">зарегистрироваться</a> | <a href="{% url 'users:login' %}">войти</a> </p>
                {% endif %}
            </div>
        </nav>
        <div>
            {% block content%}
                <h1>Тут будет содержание страницы</h1>
            {% endblock%}
        </div>
    </div>
</body>
</html>